* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

.header {
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

/* header and navigation styles */
.nav-title {
    font-weight: 800;
    font-size: 45px;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    height: 64px;
    background-color: #FD6E0A;
    border: 0;
    padding: 18px 35px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;

}

.btn-intermediate {
    height: 64px;
    margin-left: 58px;
    padding: 19px 24px;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    font-weight: 700;
    font-size: 20px;
    color: #FD6E0A;

}

/* banner-styles */
.banner {
    margin: 0 200px;
    align-items: center;
    display: flex;
}

.banner-title {
    font-weight: 700;
    font-size: 85px;
    margin-bottom: 20px;
}

.banner-sub-title {
    font-weight: 600;
    font-size: 45px;
}

.banner-description {
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}

main {
    max-width: 1140px;
    margin: 0 auto;
}

/* about section styles */
.about {
    margin-top: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
}
section{
    margin-top: 130px;
}

.section-title {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 35px;
}

.section-description {
    /* display: flex; */
    text-align: center;
    font-size: 18px;
    color: #757575;
    margin-bottom: 50px;
}

.about-info-container {
    display: flex;
    margin-top: 30px;
    justify-content: space-around;
}

.about.info-title {
    font-size: 20px;
    color: #757575;
}

.info-description {
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}

/* what-i-do styles */
.what-i-do {
    margin-top: 130px;
}

.skill-container {
    display: flex;
    gap: 24px;
}

skill {
     background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
} 

.skill-title {
    font-weight: 700;
    font-size: 20px;
    color: #181818;
    margin-top: 30px;
    margin-bottom: 20px;
}

.skill-description {
    font-size: 16px;
    color: #757575;
}